@{

  Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<style>
  #chart {
    margin: auto;
  }
</style>

<main class="main-content bgc-grey-100" style="background-color: #f9fafb;">
  <div class="banner-window">
    <div class="outer">
      <div class="middle">
        <div class="inner">
          <div class="col-xl-10 mx-auto">
            <h1 class="mb-5 banner-text">@ViewBag.HeaderText</h1>
            <h4 class="mb-4 banner-text">
              @ViewBag.BannerSub1
            </h4>
            <h4 class="mb-3 banner-text">
              @ViewBag.BannerSub2
            </h4>
            <br />
            @if (!User.Identity.IsAuthenticated)
            {
              <div class="row" style="text-align:center; margin:auto">
                <a href="@Url.Action("Login", "Account")" class="btn-lg btn-primary" style="text-align:center; margin:auto">Start nu</a>
              </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="mainContent">
    <div class="row gap-20 masonry pos-r">
      <div class="masonry-sizer col-md-6"></div>
      <div class="masonry-item w-100">
        <div class="row gap-20">
          <div class="col-md-3">
            <div class="layers bd bgc-white p-20">
              <div class="layer w-100 mB-10">
                <h6 class="lh-1" id="pol0"></h6>
              </div>
              <div class="layer w-100">
                <div class="peers ai-sb fxw-nw">
                  <div class="peer peer-greed"><span id="sparklinedash"></span></div>
                  <div class="peer"><span id="poli0" class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-green-50 c-green-500"></span></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="layers bd bgc-white p-20">
              <div class="layer w-100 mB-10">
                <h6 class="lh-1" id="pol1"></h6>
              </div>
              <div class="layer w-100">
                <div class="peers ai-sb fxw-nw">
                  <div class="peer peer-greed"><span id="sparklinedash2"></span></div>
                  <div class="peer"><span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-red-50 c-red-500" id="poli1"></span></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="layers bd bgc-white p-20">
              <div class="layer w-100 mB-10">
                <h6 class="lh-1" id="pol2"></h6>
              </div>
              <div class="layer w-100">
                <div class="peers ai-sb fxw-nw">
                  <div class="peer peer-greed"><span id="sparklinedash3"></span></div>
                  <div class="peer"><span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-purple-50 c-purple-500" id="poli2"></span></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="layers bd bgc-white p-20">
              <div class="layer w-100 mB-10">
                <h6 class="lh-1" id="pol3"></h6>
              </div>
              <div class="layer w-100">
                <div class="peers ai-sb fxw-nw">
                  <div class="peer peer-greed"><span id="sparklinedash4"></span></div>
                  <div class="peer"><span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-blue-50 c-blue-500" id="poli3"></span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="masonry-item col-md-6">
        <div class="bd bgc-white">
          <div class="layers">
            <div class="layer w-100 pX-20 pT-20">
              <h6 class="c-grey-900">Sentiment analyse top politici</h6>
              <a id="download1" download="Canvas.jpg"><i class="fas fa-download" style="top:28px; opacity:0.6; right: 20px; position:absolute;"></i></a>
              <i style="top: 30px; right: 50px;opacity:0.6; position:absolute;" class="fas fa-thumbtack"></i>
            </div>
            <div class="layer w-100 p-20" style="min-height:350px;  max-height:350px; display:table;">
              <div class="loader loader-6" id="loader-1" style="display:table-cell; vertical-align:middle; text-align:center">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
              <canvas id="evol" height="100" style="display:none"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="masonry-item col-md-6">
        <div class="bd bgc-white">
          <div class="layers">
            <div class="layer w-100 pX-20 pT-20">
              <h6 class="c-grey-900">Top trending hashtags</h6>
              <a id="download2" download="Canvas.jpg"><i class="fas fa-download" style="top:28px; opacity:0.6; right: 20px; position:absolute;"></i></a>
              <i style="top: 30px; right: 50px; position:absolute;  opacity:0.6;" class="fas fa-thumbtack"></i>
            </div>
            <div class="layer w-100 p-20" style="min-height:350px;  max-height:350px; display:table; ">
              <div class="loader loader-6" id="loader-2" style="display:table-cell; vertical-align:middle; text-align:center">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
              <canvas id="doughnut-chart" height="100" style="display:none"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="masonry-item col-md-6">
        <div class="bd bgc-white">
          <div class="layers">
            <div class="layer w-100 pX-20 pT-20">
              <h6 class="c-grey-900">Top trending Mentions</h6>
              <a id="download3" download="Canvas.jpg"><i class="fas fa-download" style="top:28px; opacity:0.6; right: 20px; position:absolute;"></i></a>
              <i style="top: 30px; right: 50px; position:absolute;  opacity:0.6;" class="fas fa-thumbtack"></i>
            </div>
            <div class="layer w-100 p-20" style="min-height:350px;max-height:350px;display:table;">
              <div class="loader loader-6" id="loader-3" style="display:table-cell; vertical-align:middle; text-align:center">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
              <canvas id="pie-chart" height="100" style="display:none"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="masonry-item col-md-6">
        <div class="bd bgc-white">
          <div class="layers">
            <div class="layer w-100 pX-20 pT-20">
              <h6 class="c-grey-900">Top persons</h6>
              <a id="download4" download="Canvas.jpg"><i class="fas fa-download" style="top:28px; opacity:0.6; right: 20px; position:absolute;"></i></a>
              <i style="top: 30px; right: 50px;  opacity:0.6; position:absolute;" class="fas fa-thumbtack"></i>
            </div>
            <div class="layer w-100 p-20" style="min-height:350px; max-height:350px; display:table;">
              <div class="loader loader-6" style="display:table-cell; vertical-align:middle; text-align:center" id="loader-4">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
              <canvas id="bar2-chart" height="100" style="display:none"></canvas>
            </div>
          </div>
        </div>
      </div>
      @if (!Request.IsAuthenticated)
      {
        <div class="hide-content">
          <div class="outer">
            <div class="middle">
              <div class="inner">
                <h4 class="mb-5 call-to-action-text">
                  @ViewBag.CallToAction
                </h4>
                <a href="@Url.Action("Login", "Account")" class="btn btn-primary text-uppercase call-to-action-button">Start nu</a>
              </div>
            </div>
          </div>
        </div>
      }
      else
      {
        <div class="masonry-item col-12">
          <div class="bd bgc-white">
            <div class="peers fxw-nw@lg+ ai-s">
              <div class="peer peer-greed w-70p@lg+ w-100@lg- p-20">
                <div class="layers">
                  <div class="layer w-100 mB-10">
                  </div>
                  <div class="layer w-100 p-20">
                    <div id="world-map-marker"></div>
                  </div>
                </div>
              </div>
              <div class="peer bdL p-20 w-30p@lg+ w-100p@lg-">
                <div class="layers h-100">
                  <div class="layer w-100">
                    <h6 class="lh-1">Radar Test</h6>
                    <a id="download6" download="Canvas.jpg"><i class="fas fa-download" style="top:28px; opacity:0.6; right: 20px; position:absolute;"></i></a>
                    <i style="top: 30px; right: 50px;  opacity:0.6; position:absolute;" class="fas fa-thumbtack"></i>
                  </div>
                  <canvas style="margin: auto 0" id="radar2-chart" height="220"></canvas>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="masonry-item col-12">
          <div class="bd bgc-white">
            <div class="peers fxw-nw@lg+ ai-s">
              <div class="peer peer-greed w-100p@lg+ w-100@lg- p-20">
                <div class="layers">
                  <div class="layer w-100 mB-10">
                    <h6 class="lh-1">Top tweeting persons</h6>
                    <a id="download7" download="Canvas.jpg"><i class="fas fa-download" style="top:28px; opacity:0.6; right: 20px; position:absolute;"></i></a>
                    <i style="top: 30px; right: 50px;  opacity:0.6; position:absolute;" class="fas fa-thumbtack"></i>
                  </div>
                  <div class="layer w-100">
                    <div id="myChart" style="height: 100%;width: 100%; min-height: 500px;"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</main>
<script src="~/Scripts/Index/hide-content.js" defer></script>
<script src="~/Scripts/Charts/Chart.min.js"></script>
<script src="~/Scripts/Wordcloud/zingchart.min.js"></script>
<script src="~/Scripts/Wordcloud/zingchart-wordcloud.min.js"></script>
<script src="~/Scripts/Wordcloud/wordcloud.js"></script>

<script>
  $("#download1").on('click', function () {
    var image = document.getElementById("evol").toDataURL("image/jpg")
      .replace("image/jpg", "image/octet-stream");
    download1.setAttribute("href", image);

  });

  $("#download2").on('click', function () {
    var image = document.getElementById("#doughnut-chart").toDataURL("image/jpg")
      .replace("image/jpg", "image/octet-stream");
    download2.setAttribute("href", image);

  });
  $("#download3").on('click', function () {
    var image = document.getElementById("pie-chart").toDataURL("image/jpg")
      .replace("image/jpg", "image/octet-stream");
    download3.setAttribute("href", image);

  });
  $("#download4").on('click', function () {
    var image = document.getElementById("bar2-chart").toDataURL("image/jpg")
      .replace("image/jpg", "image/octet-stream");
    download4.setAttribute("href", image);

  });
  $("#download6").on('click', function () {
    var image = document.getElementById("radar2-chart").toDataURL("image/jpg")
      .replace("image/jpg", "image/octet-stream");
    download4.setAttribute("href", image);

  });
  $("#download7").on('click', function () {
    var image = document.getElementById("myChart").toDataURL("image/jpg")
      .replace("image/jpg", "image/octet-stream");
    download4.setAttribute("href", image);

  });

  function makeAjaxCall(url, methodType) {
    var promiseObj = new Promise(function (resolve, reject) {
      var xhr = new XMLHttpRequest();
      xhr.open(methodType, url, true);
      xhr.setRequestHeader("x-api-key", "303d22a4-402b-4d3c-b279-9e81c0480711");
      xhr.send();
      xhr.onreadystatechange = function () {
        if (xhr.readyState === 4) {
          if (xhr.status === 200) {
            console.log("xhr done successfully");
            var resp = "";
            resp = xhr.response;
            resolve(JSON.parse(resp));

          } else {
            reject(xhr.status);
            console.log("xhr failed");
          }
        } else {
          console.log("xhr processing going on");
        }
      }
      console.log("request sent succesfully");

    });
    return promiseObj;
  }

  function showIncrease() {
    var URL = "https://localhost:44342/api/item/GetPersonIncrease";
    makeAjaxCall(URL, "GET").then(process, errorHandler);

    function process(output) {
      var keys = [];
      keys = Object.keys(output);
      var label = [];
      var values = [];

      
      for (var i = 0; i < keys.length; i++) {
        label.push(keys[i]);
        $("#pol" + i).html(keys[i]);
        values.push(output[keys[i]]);
        $("#poli" + i).html(output[keys[i]]);
      }
      console.log(label);
      console.log(values);
    }

    function errorHandler(statusCode) {
      console.log("failed with status", status);
    }
  }

  showIncrease();

  function drawRadarChart() {
    var can2 = $('#radar2-chart');

    new Chart(can2, {
      type: 'radar',
      data: {
        labels: ["Test 1", "Test 2", "Test 3", "Test 4", "Test 5"],
        datasets: [
          {
            label: "Data 1",
            fill: true,
            backgroundColor: "rgba(237, 231, 246, 0.5)",
            borderColor: "#673ab7",
            pointBorderColor: "#fff",
            pointBackgroundColor: "#512da8",
            data: [8.77, 55.61, 21.69, 6.62, 60.82]
          }, {
            label: "Data 2",
            fill: true,
            backgroundColor: "rgba(232, 245, 233, 0.5)",
            borderColor: "#2196f3",
            pointBorderColor: "#fff",
            pointBackgroundColor: "#1976d2",
            pointBorderColor: "#fff",
            data: [19.48, 54.16, 7.61, 8.06, 4.45]
          }
        ]
      },
      options: {
        responive: true
      }
    });

  }

  drawRadarChart();

  function drawBarChart() {

    var URL = "https://localhost:44342/api/item/getpersonstop/5";
    makeAjaxCall(URL, "GET").then(process, errorHandler);
    var can = $('#bar2-chart');

    function process(output) {
      console.log(output);

      var keys = [];
      keys = Object.keys(output);
      var label = [];
      var values = [];

      for (var i = 0; i < keys.length; i++) {
        label.push(keys[i]);

        values.push(output[keys[i]] / 10);
      }
      new Chart(can, {
        type: 'bar',
        data: {
          labels: label,
          datasets: [
            {
              label: "Aantal tweets",
              backgroundColor: "#03a9f4",
              borderColor: "rgba(3, 169, 244, 0.5)",
              data: values
            }
          ]
        },
        options: {
          legend: { display: true },
          responsive: true
        }
      });
      $("#loader-4").hide();
      can.show();
    }


    function errorHandler(statusCode) {
      console.log("failed with status", status);
    }
  }


  drawBarChart();

  function drawLineChart() {
    var URL = "https://localhost:44342/api/item/GetMostPopularPersons/3";
    makeAjaxCall(URL, "GET").then(process, errorHandler);

    function process(output) {
      var can = $('#evol');
      var datagrafiek = {
        labels: ["Dag 1", "Dag 2", "Dag 3", "Dag 4", "Dag 5", "Dag 6", "Dag 7", "Dag 8", "Dag 9", "Dag 10"],
        datasets: []
      };

      var myLineChart = new Chart(can, {
        type: 'line',
        data: datagrafiek,
        options: {
          responsive: true,
          scales: {
            yAxes: [{
              display: true,
              ticks: {
                // minimum will be 0, unless there is a lower value.
                // OR //
                beginAtZero: false,


                // minimum value will be 0.
              }
            }]
          }
        }
      });
      $("#loader-1").hide();
      can.show();

      var counter = 0;
      $.each(output, function (key, value) {
        var URL = "https://localhost:44342/api/item/GetPersonEvolution/" + key;
        makeAjaxCall(URL, "GET").then(process, errorHandler);

        function process(output2) {
          var keys = [];
          keys = Object.keys(output2);

          var label = [];
          var values = [];

          var backgroundcolors = ["rgba(237, 231, 246, 0.5)", "rgba(232, 245, 233, 0.5)", "rgba(3, 169, 244, 0.5)"];
          var borderColors = ["#673ab7", "#2196f3", "#4caf50"]
          var points = ["#512da8", "#1976d2", "#388e3c"];

          for (var i = 0; i < keys.length; i++) {
            label.push(keys[i]);
            values.push(output2[keys[i]] / 10);
          }

          var myNewDataSet = {
            label: value,
            data: values,
            borderWidth: 2,
            backgroundColor: backgroundcolors[counter],
            borderColor: borderColors[counter],
            pointBackgroundColor: points[counter]

          }

          datagrafiek.datasets.push(myNewDataSet);

          myLineChart.update();
          counter++;
        }
      });


      function errorHandler(statusCode) {
        console.log("failed with status", status);
      }


    }


    function errorHandler(statusCode) {
      console.log("failed with status", status);
    }

  }

  drawLineChart();

  function TrendingPersonGraphs() {
    var URL = "https://localhost:44342/api/item/getMostPopularPerson";
    makeAjaxCall(URL, "GET").then(process, errorHandler);
    function process(id) {

      function getHashtags(id) {
        var URL = "https://localhost:44342/api/item/GetTrendingHashtagsCount/" + id;
        makeAjaxCall(URL, "GET").then(process, errorHandler);

        function process(output) {

          var keys = [];
          keys = Object.keys(output);
          var label = [];
          var values = [];

          for (var i = 0; i < keys.length; i++) {
            label.push(keys[i]);
            values.push(output[keys[i]] / 10);
          }

          var can = $('#doughnut-chart');



          new Chart(can, {
            type: 'doughnut',
            data: {
              labels: label,
              datasets: [{
                backgroundColor: ["#ff6384", "#36a2eb", "#cc65fe", "#ffce56", "#7DDF64"],
                data: values
              }]
            },
            options: {
              responsive: true
            }
          });

          $("#loader-2").hide();
          can.show();
        }
        function errorHandler(statusCode) {
          console.log("failed with status", status);
        }
      }

      getHashtags(id);

      function drawPie(id) {
        var URL = "https://localhost:44342/api/item/GetTrendingMentionsCount/" + id;
        makeAjaxCall(URL, "GET").then(process, errorHandler);

        function process(output) {

          var keys = [];
          keys = Object.keys(output);
          var label = [];
          var values = [];

          for (var i = 0; i < keys.length; i++) {
            label.push(keys[i]);
            values.push(output[keys[i]] / 10);
          }

          var can = $('#pie-chart');
          // can.parent().attr('Style', 'width: 400px; height: 250');


          new Chart(can, {
            type: 'pie',
            data: {
              labels: label,
              datasets: [{
                backgroundColor: ["#ff6384", "#36a2eb", "#cc65fe", "#ffce56", "#7DDF64"],
                data: values
              }]
            },
            options: {
              responsive: true
            }
          });

          $("#loader-3").hide();
          can.show();

        }
        function errorHandler(statusCode) {
          console.log("failed with status", status);
        }

      }

      drawPie(id);
    }
    function errorHandler(statusCode) {
      console.log("failed with status", status);
    }
  }

  TrendingPersonGraphs();
</script>


