@model PB.BL.Domain.Items.Item

@{
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
  .colom-6-center {
    padding: 0 0 0 20%;
  }
</style>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">

<main class="main-content bgc-grey-100">
  <div id="mainContent" class="container-fluid">

    <div style="margin: 10px 0;padding:0;" class="masonry-item col-md-12">
      <div class="bgc-white p-20 bd">


        <div class="container-fluid">
          <div class="row">
            <div class="col-3">
              <img style="width: 200px; height: auto;position: absolute; margin: auto;top: 0;left: 0;right: 0;bottom: 0;" src="@ViewBag.Icon" alt="logo" />
            </div>

            <div class="col-9">
              <div class="h-75 w-100">
                <div class="row" style="margin:0; text-align:center;">
                  <h1 style="color: #2196f3; text-align: center; padding-top: 3%; width:100%;" class="display-4"> @Html.DisplayFor(model => model.Name)</h1>
                </div>
                <div class="row">
                  @if (Model is PB.BL.Domain.Items.Person)
                  {
                    <ul style="list-style-type:none; width:100%; text-align:center;">
                      <li style="display:inline-block;"><h5 class="h5">@ViewBag.Vermeldingen Vermeldingen</h5></li>
                      <li style="display:inline-block;"> <h5 class="h5">-</h5> </li>
                      <li style="display:inline-block;"><h5 class="h5">@ViewBag.Partij</h5></li>

                    </ul>
                  }
                  else if (Model is PB.BL.Domain.Items.Organisation)
                  {

                    <ul style="list-style-type:none; width:100%; text-align:center;">
                      <li style="display:inline-block;"><h5 class="h5">@ViewBag.Leden Leden</h5></li>
                      <li style="display:inline-block;"> <h5 class="h5">-</h5> </li>
                      <li style="display:inline-block;"><h5 class="h5">@ViewBag.FullName</h5></li>

                    </ul>

                  }
                  else if (Model is PB.BL.Domain.Items.Theme)
                  {
                    <ul style="list-style-type:none; width:100%; text-align:center;">
                      <li style="display:inline-block;"><h5 class="h5">@ViewBag.Associaties Associaties</h5></li>
                    </ul>

                  }
                </div>

              </div>
              <div class="h-25 w-100 d-inline-block">

                @if (ViewBag.Subscribed)
                {
                  using (Html.BeginForm("RemoveSubscription", "Home", new { Id = Model.ItemId }, FormMethod.Post))
                  {
                    @Html.AntiForgeryToken()
                    <button type="submit" value="Unsubscribe" class="btn btn-danger btn-lg btn-block">Unsubscribe</button>
                  }
                }
                else


                {
                  using (Html.BeginForm("AddSubscription", "Home", new { Id = Model.ItemId }, FormMethod.Post))
                  {
                    @Html.AntiForgeryToken()
                    <button type="submit" value="Subscribe me!" class="btn btn-outline-primary btn-lg btn-block">Subcribe!</button>
                  }

                }
              </div>
            </div>


          </div>
        </div>
      </div>



      <div class="row" style="margin-top: 10px;">

        <div class="col-sm" style="padding:0; margin:0">
          <div class="layers bd bgc-white p-20">
            <div class="layer w-100 mB-10">
              <h6 class="lh-1">Activiteit</h6>
            </div>
            <div class="layer w-100">
              <div class="peers ai-sb fxw-nw">
                <div class="peer peer-greed"><span id="sparklinedash4"></span></div>
                <div class="peer"><span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-blue-50 c-blue-500" id="output1"></span></div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm">
          <div class="layers bd bgc-white p-20">
            <div class="layer w-100 mB-10">
              <h6 class="lh-1">Positiviteit</h6>
            </div>
            <div class="layer w-100">
              <div class="peers ai-sb fxw-nw">
                <div class="peer peer-greed"><span id="sparklinedash"></span></div>
                <div class="peer"><span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-green-50 c-green-500" id="output2"></span></div>
              </div>
            </div>
          </div>
        </div>


        <div class="col-sm" style="padding:0; margin:0">
          <div class="layers bd bgc-white p-20">
            <div class="layer w-100 mB-10">
              <h6 class="lh-1">Retweet</h6>
            </div>
            <div class="layer w-100">
              <div class="peers ai-sb fxw-nw">
                <div class="peer peer-greed"><span id="sparklinedash2"></span></div>
                <div class="peer"><span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-red-50 c-red-500" id="output3"></span></div>
              </div>
            </div>
          </div>
        </div>

      </div>



      <div class="masonry-item col-md-12" style="margin: 10px 0;padding:0;">
        <div class="bd bgc-white">
          <div class="layers">
            <div class="layer w-100 pX-20 pT-20">
              <h6 class="c-grey-900">Tweets</h6>

              <a id="download2" download="Canvas.jpg"><i class="fas fa-download" style="top:28px; opacity:0.6; right: 30px; position:absolute;"></i></a>
              <i style="top: 30px; right: 60px; position:absolute;  opacity:0.6;" class="fas fa-thumbtack"></i>
            </div>
            <div class="layer w-100 p-20" style="min-height:350px;  max-height:350px; display:table; ">
              <div class="loader loader-6" id="loader-1" style="display:table-cell; vertical-align:middle; text-align:center">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>

              <canvas id="line-chart2" height="80" style="display:none"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>

    @*<div style="margin: 10px 0" class="masonry-item col-md-12">
        <div class="bgc-white p-20 bd">
          <h6 class="c-grey-900">Tweets</h6>
          <a id="download2" download="Canvas.jpg"><i class="fas fa-download" style="top:28px; opacity:0.6; right: 20px; position:absolute;"></i></a>
          <i style="top: 30px; right: 50px; position:absolute;  opacity:0.6;" class="fas fa-thumbtack"></i>
          <div class="mT-30" id="graph-bar" style="display:table; ">
            <div class="loader loader-6" id="loader-0" style="display:table-cell; vertical-align:middle; text-align:center">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
            <canvas id="line-chart2" height="400" style="display:none"></canvas>
          </div>
        </div>
      </div>*@


    @if (Model is PB.BL.Domain.Items.Organisation || Model is PB.BL.Domain.Items.Theme)
    {
      <div class="row">
        <div class="masonry-item col-md-6" style="margin:10px 0; padding-right:15px; padding-left:0;">
          <div class="bd bgc-white">
            <div class="layers">
              <div class="layer w-100 pX-20 pT-20">
                <h6 class="c-grey-900">Geslacht compare</h6>

                <a id="download2" download="Canvas.jpg"><i class="fas fa-download" style="top:28px; opacity:0.6; right: 30px; position:absolute;"></i></a>
                <i style="top: 30px; right: 60px; position:absolute;  opacity:0.6;" class="fas fa-thumbtack"></i>
              </div>
              <div class="layer w-100 p-20" style="min-height:350px;  max-height:350px; display:table; ">
                <div class="loader loader-6" id="loader-2" style="display:table-cell; vertical-align:middle; text-align:center">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                </div>


                <canvas id="age-chart" height="100" style="display:none"></canvas>
              </div>
            </div>
          </div>
        </div>

        <div class="masonry-item col-md-6" style="margin:10px 0;padding-left:15px; padding-right: 0;">
          <div class="bd bgc-white">
            <div class="layers">
              <div class="layer w-100 pX-20 pT-20">
                <h6 class="c-grey-900">Leeftijd compare</h6>

                <a id="download2" download="Canvas.jpg"><i class="fas fa-download" style="top:28px; opacity:0.6; right: 30px; position:absolute;"></i></a>
                <i style="top: 30px; right: 60px; position:absolute;  opacity:0.6;" class="fas fa-thumbtack"></i>
              </div>
              <div class="layer w-100 p-20" style="min-height:350px;  max-height:350px; display:table; ">
                <div class="loader loader-6" id="loader-3" style="display:table-cell; vertical-align:middle; text-align:center">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                </div>

                <canvas id="gender-chart" height="100" style="display:none"></canvas>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="masonry-item col-md-6" style="margin:10px 0;padding-left:0; padding-right: 15px;">
          <div class="bd bgc-white">
            <div class="layers">
              <div class="layer w-100 pX-20 pT-20">
                <h6 class="c-grey-900">Hashtags compare</h6>

                <a id="download2" download="Canvas.jpg"><i class="fas fa-download" style="top:28px; opacity:0.6; right: 30px; position:absolute;"></i></a>
                <i style="top: 30px; right: 60px; position:absolute;  opacity:0.6;" class="fas fa-thumbtack"></i>
              </div>
              <div class="layer w-100 p-20" style="min-height:350px;  max-height:350px; display:table; ">
                <div class="loader loader-6" id="loader-4" style="display:table-cell; vertical-align:middle; text-align:center">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                </div>

                <canvas id="hashtag-chart" height="100" style="display:none"></canvas>
              </div>
            </div>
          </div>
        </div>

        <div class="masonry-item col-md-6" style="margin:10px 0;padding-left:15px; padding-right: 0;">
          <div class="bd bgc-white">
            <div class="layers">
              <div class="layer w-100 pX-20 pT-20">
                <h6 class="c-grey-900">Mentions compare</h6>

                <a id="download2" download="Canvas.jpg"><i class="fas fa-download" style="top:28px; opacity:0.6; right: 30px; position:absolute;"></i></a>
                <i style="top: 30px; right: 60px; position:absolute;  opacity:0.6;" class="fas fa-thumbtack"></i>
              </div>
              <div class="layer w-100 p-20" style="min-height:350px;  max-height:350px; display:table; ">
                <div class="loader loader-6" id="loader-5" style="display:table-cell; vertical-align:middle; text-align:center">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                </div>

                <canvas id="mentions-chart" height="100" style="display:none"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    }


    @if (Model is PB.BL.Domain.Items.Person)
    {
      <div class="row">
        <div style="margin: 10px 0;padding:0;" class="masonry-item col-md-6">
          <div class="bgc-white p-20 bd">
            <h1 class="h3" style="text-align: center">Top mentions</h1>
            <br />
            <div id="mentions" class="row">
              <div id="mention1" class="col-6 colom-6-center"></div>
              <div id="mention2" class="col-6 colom-6-center"></div>
              @*<div id="mention1" class="col-4 colom-4-center"></div>
                <div id="mention2" class="col-4 colom-4-center"></div>
                <div id="mention3" class="col-4 colom-4-center"></div>*@
            </div>
          </div>
        </div>

        <div style="margin: 10px 0;padding:0;" class="masonry-item col-md-6">
          <div class="bgc-white p-20 bd">
            <h1 class="h3" style="text-align: center">Top Hashtags</h1>
            <br />
            <div id="hashtags" class="row">
              <div id="hashtag1" class="col-6 colom-6-center"></div>
              <div id="hashtag2" class="col-6 colom-6-center"></div>
              @*<div id="hashtag1" class="col-4 colom-4-center"></div>
                <div id="hashtag2" class="col-4 colom-4-center"></div>
                <div id="hashtag3" class="col-4 colom-4-center"></div>*@
            </div>
          </div>
        </div>
      </div>

      <div style="margin: 10px 0;padding:0;" class="masonry-item col-md-12">
        <div class="bgc-white p-20 bd">
          <h6 class="c-grey-900">Sentiment analyse</h6> <div class="mT-30" style="text-align:center">
            <canvas width="1000" height="200" id="mycanvas"></canvas>
          </div>
        </div>
      </div>


    }

    <div style="margin: 10px 0;padding:0;" class="masonry-item col-md-12">
      <div class="bgc-white p-20 bd">
        <h1 class="h3" style="text-align: center">Gerelateerde urls</h1>
        <div id="urls" class="mT-30">
        </div>
      </div>
    </div>

  </div>



</main>

<script src="~/Scripts/Charts/Chart.min.js"></script>

<script src="https://nodebox.live/api/v1/ndbx.js"></script>

<script>
  function makeAjaxCall(url, methodType) {
    var promiseObj = new Promise(function (resolve, reject) {
      var xhr = new XMLHttpRequest();

      xhr.open(methodType, url, true);
      xhr.setRequestHeader("x-api-key", "303d22a4-402b-4d3c-b279-9e81c0480711");
      xhr.send();
      xhr.onreadystatechange = function () {
        if (xhr.readyState === 4) {
          if (xhr.status === 200) {
            console.log("xhr done successfully");
            var resp = "";
            resp = xhr.response;
            resolve(JSON.parse(resp));

          } else {
            reject(xhr.status);
            console.log("xhr failed");
          }
        } else {
          console.log("xhr processing going on");
        }
      }
      console.log("request sent succesfully");

    });
    return promiseObj;
  }






  function showDetails() {


    var URL = "https://localhost:44342/api/item/GetItemDetails/" + @Html.Raw(Model.ItemId);
    makeAjaxCall(URL, "GET").then(process, errorHandler);

    function process(output) {
      console.log(output);


      var keys = [];
      keys = Object.keys(output);


      for (var i = 1; i < keys.length+1; i++) {

        $("#output" + i).html(output[keys[i-1]]);
      }
    }

    function errorHandler(statusCode) {
      console.log("failed with status", status);
    }
  }

  showDetails();
</script>

@if (Model is PB.BL.Domain.Items.Organisation || Model is PB.BL.Domain.Items.Theme)
{
  <script>

      function Age() {
        var URL = "https://localhost:44342/api/item/GetGender/" + @Html.Raw(Model.ItemId);
        makeAjaxCall(URL, "GET").then(process, errorHandler);
        function process(output) {
          var keys = [];
          keys = Object.keys(output);
          var label = [];
          var values = [];

          for (var i = 0; i < keys.length; i++) {
            label.push(keys[i].substring(0, 10));
            values.push(output[keys[i]]);
          }
          console.log(label);
          console.log(values);
          var can = $('#age-chart');
          //can.attr('width', '300px');
          //can.attr('height', '300px');

          new Chart(can, {
            type: 'doughnut',
            data:
              {
                labels: label,
                datasets: [
                  {
                    backgroundColor: ["#36a2eb", "#ffce56", "#7DDF64"],
                    data: values
                  }
                ]
              },
            options:
              {
                responsive: true
              }
          });
          $("#loader-2").hide();
          can.show();
        }

        function errorHandler(statusCode) {
          console.log("failed with status", status);
        }
    }

    Age();

    function Geslacht() {
      var URL = "https://localhost:44342/api/item/GetAges/" + @Html.Raw(Model.ItemId);
      makeAjaxCall(URL, "GET").then(process, errorHandler);
      function process(output) {
        var keys = [];
        keys = Object.keys(output);
        var label = [];
        var values = [];

        for (var i = 0; i < keys.length; i++) {
          label.push(keys[i].substring(0, 10));
          values.push(output[keys[i]]);
        }

        var can = $('#gender-chart');

        console.log(label);
        console.log(values);
        new Chart(can, {
          type: 'pie',
          data:
            {
              labels: label,
              datasets: [
                {
                  backgroundColor: ["#36a2eb", "#ffce56", "#7DDF64"],
                  data: values
                }
              ]
            },
          options:
            {
              responsive: true
            }
        });
        $("#loader-3").hide();
        can.show();
      }

      function errorHandler(statusCode) {
        console.log("failed with status", status);
      }
    }

    Geslacht();


    function Hashtags() {
      var URL = "https://localhost:44342/api/item/GetTrendingHashtagsCount/" + @Html.Raw(Model.ItemId);
        makeAjaxCall(URL, "GET").then(process, errorHandler);
        function process(output) {
          var keys = [];
          keys = Object.keys(output);
          var label = [];
          var values = [];

          for (var i = 0; i < keys.length; i++) {
            label.push(keys[i].substring(0, 10));
            values.push(output[keys[i]]);
          }
          console.log(label);
          console.log(values);
          var can = $('#hashtag-chart');
          //can.attr('width', '300px');
          //can.attr('height', '300px');

          new Chart(can, {
            type: 'bar',
            data:
              {
                labels: label,
                datasets: [
                  {
                    backgroundColor: ["#ff6384", "#36a2eb", "#cc65fe", "#ffce56", "#7DDF64"],
                    data: values
                  }
                ]
              },
            options:
              {
                responsive: true,
                legend: {
                  display: false
                }
              }
          });
          $("#loader-4").hide();
          can.show();
        }

        function errorHandler(statusCode) {
          console.log("failed with status", status);
        }
    }

    Hashtags();

    function Mentions() {
      var URL = "https://localhost:44342/api/item/GetTrendingMentionsCount/" + @Html.Raw(Model.ItemId);
        makeAjaxCall(URL, "GET").then(process, errorHandler);
        function process(output) {
          var keys = [];
          keys = Object.keys(output);
          var label = [];
          var values = [];

          for (var i = 0; i < keys.length; i++) {
            label.push(keys[i].substring(0, 10));
            values.push(output[keys[i]]);
          }
          console.log(label);
          console.log(values);
          var can = $('#mentions-chart');
          //can.attr('width', '300px');
          //can.attr('height', '300px');

          new Chart(can, {
            type: 'horizontalBar',
            data:
              {
                labels: label,
                datasets: [
                  {
                    backgroundColor: ["#ff6384", "#36a2eb", "#cc65fe", "#ffce56", "#7DDF64"],
                    data: values
                  }
                ]
              },
            options:
              {
                responsive: true,
                legend: {
                  display: false
                }
              }
          });
          $("#loader-5").hide();
          can.show();
        }

        function errorHandler(statusCode) {
          console.log("failed with status", status);
        }
    }

    Mentions();

    function urls() {
      var personid = @Html.Raw(Model.ItemId);
      var urls = "";
      urls = $.ajax({
        async: false,
        type: 'GET',
        dataType: 'json',
        url: "https://localhost:44342/api/item/GetTrendingUrl/" + personid,
        headers: { 'x-api-key': '303d22a4-402b-4d3c-b279-9e81c0480711' }
      }).responseText;



      var array = urls.split(',');
      function shuffle(a) {
        for (let i = a.length - 1; i > 0; i--) {
          const j = Math.floor(Math.random() * (i + 1));
          [a[i], a[j]] = [a[j], a[i]];
        }
        return a;
      }
      array = shuffle(array);
      array = array.slice(0, 5);


      $.each(array, function (data, realdata) {
        $("#urls").append('<i style="margin-right:10px" class="fas fa-link"></i>' + "<a href=" + realdata + ">" + realdata.substring(1, (realdata.length - 1)) + "</a><br/>");
      });
    }

    urls();
  </script>
}
<script>
   function urls() {
      var personid = @Html.Raw(Model.ItemId);
      var urls = "";
      urls = $.ajax({
        async: false,
        type: 'GET',
        dataType: 'json',
        url: "https://localhost:44342/api/item/GetTrendingUrl/" + personid,
        headers: { 'x-api-key': '303d22a4-402b-4d3c-b279-9e81c0480711' }
      }).responseText;



      var array = urls.split(',');
      function shuffle(a) {
        for (let i = a.length - 1; i > 0; i--) {
          const j = Math.floor(Math.random() * (i + 1));
          [a[i], a[j]] = [a[j], a[i]];
        }
        return a;
      }
      array = shuffle(array);
      array = array.slice(0, 5);


      $.each(array, function (data, realdata) {
        $("#urls").append('<i style="margin-right:10px" class="fas fa-link"></i>' + "<a href=" + realdata + ">" + realdata.substring(1, (realdata.length - 1)) + "</a><br/>");
      });
    }

    urls();
</script>

@if (Model is PB.BL.Domain.Items.Person)
{
  <script defer>



  </script>

  <script>

  var itemid = @Html.Raw(Model.ItemId);

  var tmp = "";
    tmp = $.ajax({
      async: false,
      type: 'GET',
      dataType: 'json',
      url: "https://localhost:44342/api/item/getrecordsfromperson/" + itemid,
      headers: { 'x-api-key': '303d22a4-402b-4d3c-b279-9e81c0480711' }
    }).responseJSON;


  var options = {
    userId: 'ThomasVerhoeven',
    projectId: 'sparkline',
    functionId:'main',
      canvasId: 'mycanvas'
  };



  ndbx.embed(options,
    function(err, player) {
      if (err) {
        console.log('Load error:', err);
      } else {
        window.player = player;

          player.setValue('datareader', 'v', tmp);
        player.start();
        player.stop(); //anders infinite loop

      }
        });



  </script>

  <script>
    var personid= @Html.Raw(Model.ItemId);
    var hashtags = "";

    hashtags = $.ajax({
      async: false,
      type: 'GET',
      dataType: 'json',
      url: "https://localhost:44342/api/item/GetTrendingHashtags/" + personid,
      headers: { 'x-api-key': '303d22a4-402b-4d3c-b279-9e81c0480711' }
    }).responseJSON;
    console.log(hashtags);

    var counter = 0;

    $.each(hashtags, function (data, realdata) {
      counter++;
      var name = 'https://twitter.com/search?q=%23' + realdata + '&src=tyah&lang=nl';
      console.log(name);
      if (counter <= 4) {
        $("#hashtag1").append('<i style="margin-right:10px" class="fas fa-hashtag"></i>' + "<a href=" + name + ">" + realdata + '</a><br/>');
      } else if (counter <= 8) {
        $("#hashtag2").append('<i style="margin-right:10px" class="fas fa-hashtag"></i>' + "<a href=" + name + ">" + realdata + '</a><br/>');
      } else {
        $("#hashtag3").append('<i style="margin-right:10px" class="fas fa-hashtag"></i>' + "<a href=" + name + ">" + realdata + '</a><br/>');
      }


    });

  </script>

  <script>
    function mentionlist() {


      var URL = "https://localhost:44342/api/item/GetTrendingMentions/" + @Html.Raw(Model.ItemId);
      makeAjaxCall(URL, "GET").then(process, errorHandler);
      //var personid= @Html.Raw(Model.ItemId);
      //var mentions = "";
      //mentions = $.ajax({
      //  async: false,
      //  type: 'GET',
      //  dataType: 'json',
      //  url: "https://localhost:44342/api/item/GetTrendingMentions/" + personid,
      //  headers: { 'x-api-key': '303d22a4-402b-4d3c-b279-9e81c0480711' }
      //}).responseJSON;
      function process(output) {
        var counter2 = 0;
        $.each(output, function (data, realdata) {
          var name = 'https://twitter.com/' + realdata;
          //$("#mentions").append('<div class="row"><i style="margin-right:10px" class="fas fa-at"></i><h6>' + realdata + '</h6></br></div>');
          counter2++;
          if (counter2 <= 4) {
            $("#mention1").append('<i style="margin-right:10px" class="fas fa-at"></i>' + "<a href=" + name + ">" + realdata + '</a><br/>');
          } else if (counter2 <= 8) {
            $("#mention2").append('<i style="margin-right:10px" class="fas fa-at"></i>' + "<a href=" + name + ">" + realdata + '</a><br/>');
          } else {
            $("#mention3").append('<i style="margin-right:10px" class="fas fa-at"></i>' + "<a href=" + name + ">" + realdata + '</a><br/>');
          }


        });
      }

      function errorHandler(statusCode) {
        console.log("failed with status", status);
      }

    }
    mentionlist();
  </script>
}



<script>


    function drawLineChart() {

        var URL = "https://localhost:44342/api/item/GetItemTweet/" + @Html.Raw(Model.ItemId);
        makeAjaxCall(URL, "GET").then(process, errorHandler);

       function process(output) {
                var keys = [];
                keys = Object.keys(output);
                var label = [];
                var values = [];

                for (var i = 0; i < keys.length; i++) {
                  label.push(keys[i].substring(0, 10));
                  values.push(output[keys[i]] / 10);
                }



                var can = $('#line-chart2');


                new Chart(can, {
                  type: 'line',
                  data:
                    {
                      labels: label,
                      datasets: [
                        {
                          label: "Tweets",
                          backgroundColor: "rgba(3, 169, 244, 0.5)",
                          borderColor: "#0277bd",
                          data: values
                        }
                      ]
                    },
                  options:
                    {
                      legend: { display: true },
                      responsive: true,
                    }
                });
                $("#loader-1").hide();
                can.show();
              }

        function errorHandler(statusCode) {
                console.log("failed with status", status);
              }


    }

       drawLineChart();
</script>



