@model PB.BL.Domain.Items.Item

@{
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
  .colom-6-center {
    padding: 0 0 0 20%;
  }
</style>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">

<main class="main-content bgc-grey-100">
  <div id="mainContent" class="container-fluid">
    <div style="margin: 10px 0; padding: 0;" class="masonry-item col-md-12">
      <div class="bgc-white p-20 bd">
        <div class="row">
          <div class="col-3" text-align:center;">
            <img style="width: 170px; height:170px; border-radius:50%; position: absolute; margin:auto; top: 0; left: 0; right: 0; bottom: 0;" src="@ViewBag.Icon" alt="logo" />
          </div>
          <div class="col-7">
            <div class="h-75 w-100">
              @if (Model is PB.BL.Domain.Items.Person)
              {

                <div class="row" style="margin: 0; text-align: center;">
                  <h1 style="color: #2196f3; text-align: center; padding-top: 3%; width: 100%;" class="display-4"> @Html.DisplayFor(model => model.Name)</h1>
                </div>
                <div class="row" style="margin: 0; text-align: center;">
                  <h1 class="h3" style=" text-align: center; width: 100%;"> @ViewBag.Partij</h1>
                </div>
                <div class="row" style="padding-bottom:16px;">


                  <ul style="list-style-type: none; width: 100%; padding:0; text-align: center;">

                    <li style="display: inline-block;">
                      <a href="@ViewBag.Twitter" target="_blank">  <i style="color: #2196f3; text-align:right; font-size:20px;" class="ti-twitter"></i> </a>
                    </li>
                    <li style="display: inline-block; padding: 0 10px;">
                      <h5 class="h5">-</h5>
                    </li>
                    <li style="display: inline-block;">
                      <h5 class="h5">@ViewBag.Vermeldingen Vermeldingen</h5>
                    </li>
                    <li style="display: inline-block; padding: 0 10px;">
                      <h5 class="h5">-</h5>
                    </li>
                    <li style="display: inline-block;">
                      <a href="@ViewBag.Site" target="_blank">  <i style="color: #2196f3; text-align:right; padding-left: 10px; font-size:20px;" class="ti-world"></i></a>
                    </li>
                  </ul>
                </div>


              }
              else if (Model is PB.BL.Domain.Items.Organisation)
              {
                <div class="row" style="margin: 0; text-align: center;">
                  <h1 style="color: #2196f3; text-align: center; padding-top: 3%; width: 100%;" class="display-4"> @Html.DisplayFor(model => model.Name)</h1>
                </div>
                <ul style="list-style-type: none; padding:0; width: 100%; text-align: center;">
                  <li style="display: inline-block;">
                    <h5 class="h5">@ViewBag.Leden Leden</h5>
                  </li>
                  <li style="display: inline-block;">
                    <h5 class="h5">-</h5>
                  </li>
                  <li style="display: inline-block;">
                    <h5 class="h5">@ViewBag.FullName</h5>
                  </li>
                </ul>
              }
              else if (Model is PB.BL.Domain.Items.Theme)
              {

                <div class="row" style="margin: 0; text-align: center;">
                  <h1 style="color: #2196f3; text-align: center; padding-top: 3%; width: 100%;" class="display-4"> @Html.DisplayFor(model => model.Name)</h1>
                </div>
                <ul style="list-style-type: none; padding:0; width: 100%; text-align: center;">
                  <li style="display: inline-block;">
                    <h5 class="h5">@ViewBag.Associaties Associaties</h5>
                  </li>
                </ul>
              }
            </div>

            <div class="h-25 w-100 d-inline-block">
              @if (ViewBag.Subscribed)
              {
                using (Html.BeginForm("RemoveSubscription", "Home", new { Id = Model.ItemId }, FormMethod.Post))
                {
                  @Html.AntiForgeryToken()
                  <button type="submit" value="Unsubscribe" class="btn btn-danger btn-lg btn-block">Unsubscribe</button>
                }
              }
              else
              {
                using (Html.BeginForm("AddSubscription", "Home", new { Id = Model.ItemId }, FormMethod.Post))
                {
                  @Html.AntiForgeryToken()
                  <button type="submit" value="Subscribe me!" class="btn btn-outline-primary btn-lg btn-block">Subcribe</button>
                }
              }
            </div>
          </div>
        </div>
        <div class="col-2">

        </div>

      </div>
    </div>

    <div class="row" style="margin-top: 10px;">
      <div class="col-sm" style="padding: 0; margin: 0">
        <div class="layers bd bgc-white p-20">
          <div class="layer w-100 mB-10">
            <h6 class="lh-1">Activiteit</h6>
          </div>
          <div class="layer w-100">
            <div class="peers ai-sb fxw-nw">
              <div class="peer peer-greed">
                <span id="sparklinedash4"></span>
              </div>
              <div class="peer">
                <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-blue-50 c-blue-500" id="output1"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="layers bd bgc-white p-20">
          <div class="layer w-100 mB-10">
            <h6 class="lh-1">Positiviteit</h6>
          </div>
          <div class="layer w-100">
            <div class="peers ai-sb fxw-nw">
              <div class="peer peer-greed">
                <span id="sparklinedash"></span>
              </div>
              <div class="peer">
                <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-green-50 c-green-500" id="output2"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm" style="padding: 0; margin: 0">
        <div class="layers bd bgc-white p-20">
          <div class="layer w-100 mB-10">
            <h6 class="lh-1">Retweet</h6>
          </div>
          <div class="layer w-100">
            <div class="peers ai-sb fxw-nw">
              <div class="peer peer-greed">
                <span id="sparklinedash2"></span>
              </div>
              <div class="peer">
                <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-red-50 c-red-500" id="output3"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    @if (Model is PB.BL.Domain.Items.Organisation || Model is PB.BL.Domain.Items.Theme)
    {
      <div style="margin: 10px 0; padding: 0;" class="masonry-item col-md-12">

        <div class="bgc-white p-20 bd">
          <h6 class="c-grey-900">Top persons voor @Model.Name </h6>
          <div class="row">

            <div class="col-3">
              <div class="p-20">
                <div class="row">
                  <div class="col-3">
                    <div id="pic1">
                      @*<span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-blue-50 c-blue-500" id="output1"></span>*@

                    </div>
                  </div>
                  <div class="col-9" style="padding-top: 20px;padding-left: 35px;">
                    <h6 id="pers1"></h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class=" p-20">

                <div class="row">
                  <div class="col-3">

                    <div id="pic2">
                      @*<span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-green-50 c-green-500"></span>*@
                    </div>
                  </div>
                  <div class="col-9" style="padding-top: 20px;padding-left: 35px;">
                    <h6 id="pers2"></h6>
                  </div>

                </div>
              </div>
            </div>

            <div class="col-3">
              <div class=" p-20">
                <div class="row">
                  <div class="col-3">
                    <div id="pic3">
                    </div>
                  </div>
                  <div class="col-9" style="padding-top: 20px;padding-left: 35px;">
                    <h6 class="lh-1" id="pers3"></h6>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-3">
              <div class="p-20">
                <div class="row">
                  <div class="col-3">
                    <div id="pic4">
                    </div>
                  </div>
                  <div class="col-9" style="padding-top: 20px;padding-left: 35px;">
                    <h6 id="pers4"></h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    }
    <div class="row">
      <div class="masonry-item col-md-6" style="margin: 10px 0; padding-right: 15px; padding-left: 0;">
        <div class="bd bgc-white">
          <div class="layers">
            <div class="layer w-100 pX-20 pT-20">
              <h6 class="c-grey-900">Tweets</h6>
              <a id="download1" download="Canvas.jpg">
                <i class="fas fa-download" style="top: 28px; opacity: 0.6; right: 30px; position: absolute;"></i>
              </a>
              <i style="top: 30px; right: 60px; position: absolute; opacity: 0.6;" class="fas fa-thumbtack"></i>
            </div>
            <div class="layer w-100 p-20" style="min-height: 200px; max-height: 200px; display: table;">
              <div class="loader loader-6" id="loader-1" style="display: table-cell; vertical-align: middle; text-align: center">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
              <canvas id="line-chart2" height="100" style="display: none"></canvas>
            </div>
          </div>
        </div>
      </div>

      <div class="masonry-item col-md-6" style="margin: 10px 0; padding-right: 0px; padding-left: 15px;">
        <div class="bd bgc-white">
          <div class="layers">
            <div class="layer w-100 pX-20 pT-20">
              <h6 class="c-grey-900">Sentiment</h6>
              <a id="download2" download="Canvas.jpg">
                <i class="fas fa-download" style="top: 28px; opacity: 0.6; right: 30px; position: absolute;"></i>
              </a>
              <i style="top: 30px; right: 60px; position: absolute; opacity: 0.6;" class="fas fa-thumbtack"></i>
            </div>
            <div class="layer w-100 p-20" style="min-height: 200px; max-height: 200px; display: table;">
              <div class="loader loader-6" id="loader-8" style="display: table-cell; vertical-align: middle; text-align: center">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
              <canvas id="sentiment" height="100" style="display: none"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="masonry-item col-md-6" style="margin: 10px 0; padding-right: 15px; padding-left: 0;">
        <div class="bd bgc-white">
          <div class="layers">
            <div class="layer w-100 pX-20 pT-20">
              <h6 class="c-grey-900">Geslacht compare</h6>
              <a id="download3" download="Canvas.jpg">
                <i class="fas fa-download" style="top: 28px; opacity: 0.6; right: 30px; position: absolute;"></i>
              </a>
              <i style="top: 30px; right: 60px; position: absolute; opacity: 0.6;" class="fas fa-thumbtack"></i>
            </div>
            <div class="layer w-100 p-20" style="min-height: 320px; max-height: 320px; display: table;">
              <div class="loader loader-6" id="loader-2" style="display: table-cell; vertical-align: middle; text-align: center">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
              <canvas id="age-chart" height="100" style="display: none"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="masonry-item col-md-6" style="margin: 10px 0; padding-left: 15px; padding-right: 0;">
        <div class="bd bgc-white">
          <div class="layers">
            <div class="layer w-100 pX-20 pT-20">
              <h6 class="c-grey-900">Leeftijd compare</h6>
              <a id="download4" download="Canvas.jpg">
                <i class="fas fa-download" style="top: 28px; opacity: 0.6; right: 30px; position: absolute;"></i>
              </a>
              <i style="top: 30px; right: 60px; position: absolute; opacity: 0.6;" class="fas fa-thumbtack"></i>
            </div>
            <div class="layer w-100 p-20" style="min-height: 320px; max-height: 320px; display: table;">
              <div class="loader loader-6" id="loader-3" style="display: table-cell; vertical-align: middle; text-align: center">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
              <canvas id="gender-chart" height="100" style="display: none"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
    @if (Model is PB.BL.Domain.Items.Organisation || Model is PB.BL.Domain.Items.Theme)
    {
      <div class="row">
        <div class="masonry-item col-md-6" style="margin: 10px 0; padding-left: 0; padding-right: 15px;">
          <div class="bd bgc-white">
            <div class="layers">
              <div class="layer w-100 pX-20 pT-20">
                <h6 class="c-grey-900">Hashtags compare</h6>
                <a id="download5" download="Canvas.jpg">
                  <i class="fas fa-download" style="top: 28px; opacity: 0.6; right: 30px; position: absolute;"></i>
                </a>
                <i style="top: 30px; right: 60px; position: absolute; opacity: 0.6;" class="fas fa-thumbtack"></i>
              </div>
              <div class="layer w-100 p-20" style="min-height: 320px; max-height: 320px; display: table;">
                <div class="loader loader-6" id="loader-4" style="display: table-cell; vertical-align: middle; text-align: center">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                </div>
                <canvas id="hashtag-chart" height="100" style="display: none"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="masonry-item col-md-6" style="margin: 10px 0; padding-left: 15px; padding-right: 0;">
          <div class="bd bgc-white">
            <div class="layers">
              <div class="layer w-100 pX-20 pT-20">
                <h6 class="c-grey-900">Mentions compare</h6>
                <a id="download6" download="Canvas.jpg">
                  <i class="fas fa-download" style="top: 28px; opacity: 0.6; right: 30px; position: absolute;"></i>
                </a>
                <i style="top: 30px; right: 60px; position: absolute; opacity: 0.6;" class="fas fa-thumbtack"></i>
              </div>
              <div class="layer w-100 p-20" style="min-height: 320px; max-height: 320px; display: table;">
                <div class="loader loader-6" id="loader-5" style="display: table-cell; vertical-align: middle; text-align: center">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                </div>
                <canvas id="mentions-chart" height="100" style="display: none"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    }
    @if (Model is PB.BL.Domain.Items.Person)
    {
      <div class="row">
        <div style="margin: 10px 0; padding-left: 0; padding-right: 15px;" class="masonry-item col-md-6">
          <div class="bgc-white p-20 bd" style="min-height: 180px;">
            <h1 class="h3" style="text-align: center;">Top mentions</h1>
            <br />
            <div class="loader loader-6" id="loader-6" style="margin-left: 50%;">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
            <div id="mentions" style="display: none;" class="row">
              <div id="mention1" class="col-6 colom-6-center"></div>
              <div id="mention2" class="col-6 colom-6-center"></div>
            </div>
          </div>
        </div>
        <div style="margin: 10px 0; padding-left: 15px; padding-right: 0;" class="masonry-item col-md-6">
          <div class="bgc-white p-20 bd" style="min-height: 180px;">
            <h1 class="h3" style="text-align: center">Top Hashtags</h1>
            <br />
            <div class="loader loader-6" id="loader-7" style="margin-left: 50%;">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
            <div id="hashtags" style="display: none" class="row">
              <div id="hashtag1" class="col-6 colom-6-center"></div>
              <div id="hashtag2" class="col-6 colom-6-center"></div>
            </div>
          </div>
        </div>
      </div>

      <div style="margin: 10px 0; padding: 0;" class="masonry-item col-md-12">
        <div class="bgc-white p-20 bd">
          <h6 class="c-grey-900">Sentiment analyse</h6>
          <div class="mT-30" style="text-align: center">
            <a id="download7" download="Canvas.jpg">
              <i class="fas fa-download" style="top: 28px; opacity: 0.6; right: 30px; position: absolute;"></i>
            </a>
            <i style="top: 30px; right: 60px; position: absolute; opacity: 0.6;" class="fas fa-thumbtack"></i>
          <p>Notebox graph disabled on http website (not compatible)</p>
          </div>
        </div>
      </div>
    }

    <div style="margin: 10px 0; padding: 0;" class="masonry-item col-md-12">
      <div class="bgc-white p-20 bd">
        <h1 class="h3" style="text-align: center">Gerelateerde urls</h1>
        <div id="urls" class="mT-30">
        </div>
      </div>
    </div>
  </div>
</main>
<script src="~/Scripts/ItemDetail.js"></script>
<script src="~/Scripts/Charts/Chart.min.js"></script>
<script src="https://nodebox.live/api/v1/ndbx.js"></script>

<script>
  var id=@Html.Raw(Model.ItemId);

  showDetails(id);
  Age(id);
  Geslacht(id);
  urls(id);
  drawLineChart(id);
  drawSentiment(id);

</script>

@if (Model is PB.BL.Domain.Items.Organisation || Model is PB.BL.Domain.Items.Theme)
{
  <script>
    var id=@Html.Raw(Model.ItemId);

    showTopPersons(id);
    Hashtags(id);
    Mentions(id);
  </script>
}


@if (Model is PB.BL.Domain.Items.Person)
{
  <script>
    var id =@Html.Raw(Model.ItemId);
    HashtagsPerson(id);
    mentionlist(id);
    drawNodeBox(id);
  </script>
}