
@{
  ViewBag.Title = "PlatformSettings";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="main-content bgc-grey-100">
  <div id="mainContent">
    <div class="container-fluid">

      <div style="margin: 10px 0;padding:0;" class="masonry-item col-md-12">
        <div class="bgc-white p-20 bd">
          <h3 class="h3">Platform stats</h3>

          <span style="color: #2196f3" class="fsz-sm">
            Totaal aantal users: @Html.Label("Totaal aantal users:", (string)ViewBag.TotalUsers)
          </span>
          <br />

          <span style="color: #2196f3" class="fsz-sm">
            Totaal aantal items: @Html.Label("Totaal aantal items", (string)ViewBag.TotalItems)
          </span>
          <br />
          <span style="color: #2196f3" class="fsz-sm">
            Totaal aantal persons: @Html.Label("Totaal aantal users:", (string)ViewBag.TotalPersons)
          </span>
          <br />
          <span style="color: #2196f3" class="fsz-sm">
            Totaal aantal organisations: @Html.Label("Totaal aantal organisations", (string)ViewBag.TotalOrganisations)
          </span>
          <br />
          <span style="color: #2196f3" class="fsz-sm">
            Totaal aantal themes: @Html.Label("Totaal aantal users:", (string)ViewBag.TotalThemes)
          </span>
          <br />
          <span style="color: #2196f3" class="fsz-sm">
            Totaal aantal keywords: @Html.Label("Totaal aantal keywords", (string)ViewBag.TotalKeywords)
          </span>

        </div>
      </div>

      <br />
      <hr />

      <div class="row">
        <div style="margin: 10px 0;padding:0;" class="masonry-item col-md-6">
          <div class="bgc-white p-20 bd">
            Change/create subplatform
            <br />
            Change default theme
            <br />
            Change site Logo
            <br />
            Change site name
          </div>
        </div>

        <div style="margin: 10px 0;padding:0;" class="masonry-item col-md-6">
          <div class="bgc-white p-20 bd">
            Syncroniseer
            <br />
            Generate Alerts
             <br />
          </div>
        </div>
      </div>
    </div>
  </div>
</main>