@model IEnumerable<PB.BL.Domain.Items.Organisation>

<div class="row">
  <div class="col-md-12">
    <div class="bgc-white bd bdrs-3 p-20 mB-20">
      <h4 class="c-grey-900 mB-20">Organisation Table</h4>
      <table id="dataTable" class="table table-striped table-bordered testtable" cellspacing="0" style="width:100%">
        <thead>
          <tr>
            <th>@Html.DisplayNameFor(model => model.ItemId)</th>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.SocialMediaLink)</th>
            <th>@Html.DisplayNameFor(model => model.IconURL)</th>
            <th>@Html.DisplayNameFor(model=>model.IsHot)</th>
            <th>CRUD</th>

          </tr>
        </thead>

        <tbody>
          @foreach (var item in Model)
          {
          <tr>
            <td>@Html.DisplayFor(modelItem => item.ItemId)</td>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.SocialMediaLink)</td>
            <td>@Html.DisplayFor(modelItem => item.IconURL)</td>
            <th>@Html.DisplayFor(modelItem => item.IsHot)</th>
            <td>

              @using (Html.BeginForm("DeleteItem", "Item", new { id = item.ItemId }, FormMethod.Post, new { id = "delete" }))
    {
          @Html.AntiForgeryToken()

          <a href="javascript:document.getElementById('delete').submit()" style="outline:none; all:unset" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700">
            <span style="color: #2196f3" class="fsz-sm">
              Delete
            </span>
          </a>
}
              @*@Html.ActionLink("EditPerson", "Edit", new { id = item.ItemId }) |
      @Html.ActionLink("DetailsPerson", "DetailsPerson", new { id = item.ItemId }) |*@
              @*@Html.ActionLink("Delete", "DeleteOrganisation", "Item", new { id = item.ItemId })*@
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>

