@model UI_MVC.Models.ThemeEditModel

<div class="bgc-white p-20 bd">
  <h4 class="fw-300 c-grey-900 mB-40">Create new theme</h4>
  @using (Html.BeginForm("ThemaPartialCreate", "Item", FormMethod.Post, new { enctype = "multipart/form-data" }))
  {
    @Html.AntiForgeryToken()
    <form>
      <div class="row">
        <div class="col-6">
          @Html.ValidationSummary(true, "", new { @class = "text-danger" })
          <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
              @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
              @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
          </div>
          <div class="form-group">
            @Html.LabelFor(model => model.IsTrending, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
              <label class="switch">
                @Html.CheckBoxFor(model => model.IsTrending, new { @class = "form-control", @id = "isHot" })
                <div class="slider round"></div>
              </label>
              @Html.ValidationMessageFor(model => model.IsTrending, "", new { @class = "text-danger" })
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-2">Upload an icon</label>
            <div class="col-md-10">
              <div class="fileUpload blue-btn btn w-100">
                <span>Upload a new icon</span>
                <input type="file" class="uploadlogo" name="file" id="file" />
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
              @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
              @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-4">Add first keyword (for more edit theme)</label>
            <div class="col-md-10">
              @Html.DropDownListFor(model => model.KeywordId, new SelectList(Enumerable.Empty<SelectList>()), "Kies een keyword", new { @class = "form-control", @id = "FromJson" })

              @Html.ValidationMessageFor(model => model.KeywordId, "", new { @class = "text-danger" })
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-lg btn-secondary" />
          </div>
        </div>
      </div>
    </form>
  }
</div>



<script>




  var tmp = "";

  tmp = $.ajax({
    async: false,
    type: 'GET',
    dataType: 'json',
    headers: { 'x-api-key': '303d22a4-402b-4d3c-b279-9e81c0480711' },
    url: "https://localhost:44342/api/item/GetKeywords"
  }).responseJSON;



  for (var i = 0; i < tmp.length; i++) {

    $("#FromJson").append($("<option></option>").val(tmp[i].KeywordId).html(tmp[i].Name));
  }

  //$("FromJson").append($("<option></option>").val(tmp[i].ItemId).html(tmp[i].Name));



  $(document).ready(function () {
    $("#IsHot").change(function () {
      if ($("#IsHot").is(":checked")) {
        $("#formCheck").submit();
      }
    });
  });
</script>

<script>
  $(document).ready(function ($) {

    // Upload btn on change call function
    $(".uploadlogo").change(function () {
      var filename = readURL(this);
      var name = filename.substring(filename.indexOf(".") + 1);

      console.log(name);
      $(this).parent().children('span').html(filename);
    });

    // Read File and return value
    function readURL(input) {
      var url = input.value;

      var ext = url.substring(url.lastIndexOf('.') + 1).toLowerCase();
      if (input.files && input.files[0] && (
        ext == "png" || ext == "jpeg" || ext == "jpg" || ext == "gif"
      )) {
        var path = $(input).val();
        var filename = path.replace(/^.*\\/, "");
        // $('.fileUpload span').html('Uploaded Proof : ' + filename);
        return "Uploaded file : " + filename;
      } else {
        $(input).val("");
        return "Only image formats are allowed!";
      }
    }
    // Upload btn end

  });
</script>