@{
  ViewBag.Title = "Beheer Items";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="main-content bgc-grey-100">
  <div id="mainContent">
    <div class="container-fluid">
      <div style="margin: 10px 0;padding:0;" class="masonry-item col-md-12">
        <div class="bgc-white p-20 bd">
          <h1 class="h3" style="text-align: center">Beheer items van het huidige subplatform</h1>
        </div>
      </div>
      <div class="row" style="margin-top: 10px;">
        <div class="col-sm" style="padding:0; margin:0 10px 0 0">
          <div class="layers bd bgc-white p-20">
            <div class="layer w-100 mB-10">
              <h6 class="lh-1">Beheer Persons</h6>
            </div>
            <div class="layer w-100">
              <div class="peers ai-sb fxw-nw">
                <button type="button" class="btn btn-primary btn-lg btn-block" id="loadPers">Beheer</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm" style="padding:0; margin:0 0 0 10px">
          <div class="layers bd bgc-white p-20">
            <div class="layer w-100 mB-10">
              <h6 class="lh-1">Beheer Organisations</h6>
            </div>
            <div class="layer w-100">
              <div class="peers ai-sb fxw-nw">
                <button type="button" class="btn btn-primary btn-lg btn-block" id="loadOrg">Beheer</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 10px;">
        <div class="col-sm" style="padding:0; margin:0 10px 0 0">
          <div class="layers bd bgc-white p-20">
            <div class="layer w-100 mB-10">
              <h6 class="lh-1">Beheer Thema's</h6>
            </div>
            <div class="layer w-100">
              <div class="peers ai-sb fxw-nw">
                <button type="button" class="btn btn-primary btn-lg btn-block" id="loadTheme">Beheer</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm" style="padding:0; margin:0 0 0 10px">
          <div class="layers bd bgc-white p-20">
            <div class="layer w-100 mB-10">
              <h6 class="lh-1">Beheer Keywords</h6>
            </div>
            <div class="layer w-100">
              <div class="peers ai-sb fxw-nw">
                <button type="button" class="btn btn-primary btn-lg btn-block" id="loadKeyw">Beheer</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="exportimportpersons" style="margin: 10px 0;padding:0;" class="masonry-item col-md-12">
        <div class="bgc-white p-20 bd">
          <h1 class="h5" style="text-align: center">Import/Export Tools</h1>
          <div class="row">
            <div class="col-6" style="text-align:center">
              @using (Html.BeginForm("Import", "Item", FormMethod.Post, new { enctype = "multipart/form-data" }))
              {
                <div class="row" style="text-align:center; margin-left:25%">

                  <div class="fileUpload blue-btn btn" style="margin:0;">
                    <span>Selecteer JSON-bestand</span>
                    <input type="file" class="uploadlogo uploadfile" name="file" id="file" />
                  </div>


                  <button id="import" class="btn btn-lg btn-primary" style="margin-left:15px" enabled>Importeer</button>

                </div>
              }

            </div>
            <div class="col-6" style="text-align:center">
              <button id="export" class="btn btn-lg btn-primary" enabled>Export Persons</button>
            </div>
          </div>
        </div>
      </div>

      <div id="createpartial" style="margin-top:30px"></div>
      <div id="partial"></div>
    </div>
  </div>
</main>
<script>

  $(".uploadfile").change(function () {
    var filename = readURL2(this);
    var name = filename.substring(filename.indexOf(".") + 1);
    $(this).parent().children('span').html(filename);
  });
  function readURL2(input) {
    var url = input.value;

    var ext = url.substring(url.lastIndexOf('.') + 1).toLowerCase();
    if (input.files &&
      input.files[0] &&
      (
        ext == "json"
      )) {
      var path = $(input).val();
      var filename = path.replace(/^.*\\/, "");
      // $('.fileUpload span').html('Uploaded Proof : ' + filename);
      return "Uploaded file : " + filename;
    } else {
      $(input).val("");
      return "Only image formats are allowed!";
    }
  }
    // Upload btn end


  $("#export").click(function () {
    $.ajax({
      type: "POST",
      url: '@Url.Action("Export","Item")', //call your controller and action
      contentType: "application/json; charset=utf-8",
      dataType: "json",
    }).done(function (data) {
      //get the file name for download
      if (data.fileName != "") {
        //use window.location.href for redirect to download action for download the file
        window.location.href = "@Url.RouteUrl(new
        { Controller = "Item", Action = "ExportPersons" }) /? file = " + data.fileName;
    }
});
  });

</script>
<link href="~/Content/datatables.min.css" rel="stylesheet" />
<script src="~/Scripts/datatables.min.js"></script>
<script>
  $(function () {
    $("#loadOrg").click(function () {

      $('#createpartial').load('@Url.Action("_OrganisationPartialCreate","Item")');
      $('#partial').load('@Url.Action("_OrganisationPartialTable","Item")');

    });
  });

  $(function () {
    $("#loadTheme").click(function () {
      $('#createpartial').load('@Url.Action("_ThemaPartialCreate","Item")');
      $('#partial').load('@Url.Action("_ThemaPartialTable","Item")');

    });
  });

  $(function () {
    $("#loadKeyw").click(function () {
      $('#createpartial').load('@Url.Action("_KeywordPartialCreate","Item")');
      $('#partial').load('@Url.Action("_KeywordPartialTable","Item")');
    });
  });

  $(function () {
    $("#loadPers").click(function () {
      $('#createpartial').load('@Url.Action("_PersonPartialCreate","Item")');
      $('#partial').load('@Url.Action("_PersonPartialTable","Item")');
    });
  });
</script>