
@{
  ViewBag.Title = "Beheer Items";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="main-content bgc-grey-100">
  <div id="mainContent">
    <div class="container-fluid">


      <div style="margin: 10px 0;padding:0;" class="masonry-item col-md-12">
        <div class="bgc-white p-20 bd">
          <h1 class="h3" style="text-align: center">Beheer items van het huidige subplatform</h1>
        </div>
      </div>
      <div class="row" style="margin-top: 10px;">

        <div class="col-sm" style="padding:0; margin:0 10px 0 0">
          <div class="layers bd bgc-white p-20">
            <div class="layer w-100 mB-10">
              <h6 class="lh-1">Beheer Persons</h6>
            </div>
            <div class="layer w-100">
              <div class="peers ai-sb fxw-nw">
                <button type="button" class="btn btn-primary btn-lg btn-block" id="loadPers">Beheer</button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm" style="padding:0; margin:0 0 0 10px">
          <div class="layers bd bgc-white p-20">
            <div class="layer w-100 mB-10">
              <h6 class="lh-1">Beheer Organisations</h6>
            </div>
            <div class="layer w-100">
              <div class="peers ai-sb fxw-nw">
                <button type="button" class="btn btn-primary btn-lg btn-block" id="loadOrg">Beheer</button>
              </div>
            </div>
          </div>
        </div>

      </div>


      <div class="row" style="margin-top: 10px;">

        <div class="col-sm" style="padding:0; margin:0 10px 0 0">
          <div class="layers bd bgc-white p-20">
            <div class="layer w-100 mB-10">
              <h6 class="lh-1">Beheer Thema's</h6>
            </div>
            <div class="layer w-100">
              <div class="peers ai-sb fxw-nw">
                <button type="button" class="btn btn-primary btn-lg btn-block" id="loadTheme">Beheer</button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm" style="padding:0; margin:0 0 0 10px">
          <div class="layers bd bgc-white p-20">
            <div class="layer w-100 mB-10">
              <h6 class="lh-1">Beheer Keywords</h6>
            </div>
            <div class="layer w-100">
              <div class="peers ai-sb fxw-nw">
                <button type="button" class="btn btn-primary btn-lg btn-block" id="loadKeyw">Beheer</button>
              </div>
            </div>
          </div>
        </div>

      </div>



      <div id="createpartial" style="margin-top:30px"></div>
      <div id="partial"></div>

      <div style="margin: 10px 0" class="masonry-item col-md- 12">
        <div class="bgc-white p-20 bd">
          <h6 class="c-grey-900">Users</h6> <div class="mT-30" id="graph-bar">

            <canvas id="user-chart" height="400"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script>


  function drawLineChart(id) {

    var test = "";
    test = $.ajax({
      async: false,
      type: 'GET',
      dataType: 'json',
      url: "https://localhost:44342/api/account/GetUserRate",
      headers: { 'x-api-key': '303d22a4-402b-4d3c-b279-9e81c0480711' }

    }).responseJSON

    var keys = [];
    keys = Object.keys(test);
    var label = [];
    var values = [];

    for (var i = 0; i < keys.length; i++) {
      label.push(keys[i].substring(0, 10));
      values.push(test[keys[i]]);
    }



    var can = $('#user-chart');
    //can.attr('width', '300px');
    //can.attr('height', '300px');

    new Chart(can, {
      type: 'line',
      data: {
        labels: label,
        datasets: [
          {
            label: "",
            backgroundColor: "rgba(3, 169, 244, 0.5)",
            borderColor: "#0277bd",
            data: values
          }
        ]
      },
      options: {
        legend: { display: true },
        responsive: true,
        maintainAspectRatio: false,
        title: {
          display: true,
          text: 'Account Rate evolution'
        }, 
        scales: {
          yAxes: [{
            ticks: {
              min: 0,
              beginAtZero: true,
              stepSize: 1 
            }
          }]
        }
      }
    });
  }

  drawLineChart();

</script>



<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jq-3.2.1/dt-1.10.16/af-2.2.2/b-1.5.1/b-flash-1.5.1/b-html5-1.5.1/kt-2.3.2/r-2.2.1/datatables.min.css" />

<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jq-3.2.1/dt-1.10.16/af-2.2.2/b-1.5.1/b-flash-1.5.1/b-html5-1.5.1/kt-2.3.2/r-2.2.1/datatables.min.js"></script>
<script>

  $(function () {
    $("#loadOrg").click(function () {
      $('#createpartial').load('@Url.Action("_OrganisationPartialCreate","Item")');
      $('#partial').load('@Url.Action("_OrganisationPartialTable","Item")');

    });
  });

  $(function () {
    $("#loadTheme").click(function () {
        $('#createpartial').load('@Url.Action("_ThemaPartialCreate","Item")');
       $('#partial').load('@Url.Action("_ThemaPartialTable","Item")');

    });
  });

  $(function () {
    $("#loadKeyw").click(function () {
   $('#createpartial').load('@Url.Action("_KeywordPartialCreate","Item")');
  $('#partial').load('@Url.Action("_KeywordPartialTable","Item")');
    });
  });

  $(function () {
    $("#loadPers").click(function () {
      $('#createpartial').load('@Url.Action("_PersonPartialCreate","Item")');
    $('#partial').load('@Url.Action("_PersonPartialTable","Item")');
    });
  });
</script>