@model UI_MVC.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

@{
  var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
  if (!loginProviders.Any())
  {
    <div>
      <p>
        There are no external authentication services configured.
      </p>
    </div>
  }
  else
  {
    using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }))
    {
      @Html.AntiForgeryToken()
      <div id="socialLoginList">
        <div class="btn-toolbar">
          @foreach (AuthenticationDescription p in loginProviders)
          {
            <button class="btnLoginProviders btn btn-lg" type="submit" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">
              <i></i> @p.AuthenticationType
            </button>
          }
        </div>
      </div>
    }
  }
}
<script src="~/Scripts/jquery-3.3.1.js"></script>


<script>
  $(".btn-toolbar button:nth-child(1)").addClass("btn btn-social btn-sm btn-google");
  $("button:nth-child(2)").addClass("btn btn-social btn-sm btn-facebook");
  $("button:nth-child(3)").addClass("btn btn-social btn-sm btn-twitter");
  $("button:nth-child(1) i").addClass("fa fa-google-plus pr-1");
  $("button:nth-child(2) i").addClass("fa fa-facebook");
  $("button:nth-child(3) i").addClass("fa fa-twitter pr-1");
</script>