@{
    ViewBag.Title = "Notifications";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="main-content bgc-grey-100">
    <div id="mainContent" class="container-fluid">
        @foreach (var a in Model)
        {
            <div class="bgc-white p-10 bd mB-10">
                <a href="@Url.Action("ClickNotification", "Account", new { id = a.AlertId })">
                    <div class="peer mR-15"><img class="w-3r bdrs-50p" src="~/Content/Images/Profile-pic.png" alt=""></div>
                    <div class="peer peer-greed">
                        <span><span class="fw-500">@a.Alert.Item.Name</span> <span class="c-grey-600">@a.Alert.Event <span class="text-dark">@a.Alert.Subject</span></span></span>
                        <p class="m-0"><small class="fsz-xs"></small>@a.GetTime()</p>
                    </div>
                </a>
            </div>
        }
    </div>
</main>