@model IEnumerable<PB.BL.Domain.Accounts.Profile>

@{
  ViewBag.Title = "Beheer Users";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="main-content bgc-grey-100">
  <div id="mainContent">
    <div class="container-fluid">
      <div style="margin: 10px 0; padding: 0;" class="masonry-item col-md-12">
        <div class="bgc-white p-20 bd">
          <h1 class="h3" style="text-align: center">Beheer Users en Admins</h1>
        </div>
      </div>
      <div style="margin: 10px 0; padding: 0;" class="masonry-item col-md-12">
        <div class="bgc-white p-20 bd">
          <h1 class="h5" style="text-align: center">Import/Export Tools</h1>
          <div class="row">
            <div class="col-6" style="text-align: center">
              <button id="export" class="btn btn-lg btn-primary" enabled>Export Users</button>
            </div>
            <div class="col-6" style="text-align: center">
              <button class="btn btn-lg btn-primary" disabled>Import users</button>
            </div>
          </div>
        </div>
      </div>
      @Html.Action("_UserTable")
      <div class="row" style="margin-top: 10px;">
        <div class="col-sm" style="padding: 0; margin: 0 10px 0 0">
          <div class="layers bd bgc-white p-20">
            <div class="layer w-100 mB-10">
              <h6 class="lh-1">Beheer Admins</h6>
            </div>
            <div class="layer w-100">
              <div class="peers ai-sb fxw-nw">
                <button type="button" class="btn btn-primary btn-lg btn-block" id="loadAdmin">Beheer</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm" style="padding: 0; margin: 0 0 0 10px">
          <div class="layers bd bgc-white p-20">
            <div class="layer w-100 mB-10">
              <h6 class="lh-1">Beheer SuperAdmins</h6>
            </div>
            <div class="layer w-100">
              <div class="peers ai-sb fxw-nw">
                <button type="button" class="btn btn-primary btn-lg btn-block" id="loadSuper">Beheer</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="partial"></div>
      <div style="margin: 10px 0; padding: 0;" class="masonry-item col-md-12">
        <div class="bgc-white p-20 bd">
          <h6 class="c-grey-900">Users</h6>
          <div class="mT-30" id="graph-bar">
            <canvas id="user-chart" height="400"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>

<link href="~/Content/datatables.min.css" rel="stylesheet"/>
<script src="~/Scripts/datatables.min.js"></script>
<script src="~/Scripts/charts/Chart.min.js"></script>
<script>
  $("#export").click(function() {
    $.ajax({
      type: "POST",
      url: '@Url.Action("Export", "Account")', //call your controller and action
      contentType: "application/json; charset=utf-8",
      dataType: "json",
    }).done(function(data) {
      //get the file name for download
      if (data.fileName != "") {
        //use window.location.href for redirect to download action for download the file
        window.location.href = "@Url.RouteUrl(new
                                {Controller = "Account", Action = "ExportUsers"})/?file=" +
          data.fileName;
      }
    });
  });

  function drawLineChart(id) {
    var test = "";
    test = $.ajax({
      async: false,
      type: 'GET',
      dataType: 'json',
      url: "https://localhost:44342/api/account/GetUserRate",
      headers: { 'x-api-key': '303d22a4-402b-4d3c-b279-9e81c0480711' }

    }).responseJSON

    var keys = [];
    keys = Object.keys(test);
    var label = [];
    var values = [];

    for (var i = 0; i < keys.length; i++) {
      label.push(keys[i].substring(0, 10));
      values.push(test[keys[i]]);
    }
    var can = $('#user-chart');
    new Chart(can,
      {
        type: 'line',
        data: {
          labels: label,
          datasets: [
            {
              label: "",
              backgroundColor: "rgba(3, 169, 244, 0.5)",
              borderColor: "#0277bd",
              data: values
            }
          ]
        },
        options: {
          legend: { display: true },
          responsive: true,
          maintainAspectRatio: false,
          title: {
            display: true,
            text: 'Account Rate evolution'
          },
          scales: {
            yAxes: [
              {
                ticks: {
                  min: 0,
                  beginAtZero: true,
                  stepSize: 1
                }
              }
            ]
          }
        }
      });
  }

  drawLineChart();
</script>


<script>
  $(function() {
    $("#loadAdmin").click(function() {

      $('#partial').load('@Url.Action("_AdminTable", "Account")');

    });
  });

  $(function() {
    $("#loadSuper").click(function() {

      $('#partial').load('@Url.Action("_SuperAdminTable", "Account")');

    });
  });
</script>